.post-box {
  /* position:absolute;
  top:25%;
  left:70%; */
  position: relative;
  top:140px;
  left: 286px;
  /* border: 3px solid orange; */
  width: 1100px; 
  height: 500px; 
  z-index: 1;
  
}

.upload{
  position:absolute;
  top:97%;
  left:100%;
}


        #result{
            width: 1000px;
            height:500px;
            /* border:1px solid red; */
        }
        #result img{
          border: 3px solid purple;
            width: 1110px;
            height:1000px;
        }
        /* input{
            width: 70px;
            margin-top: 10px;
        } */
        @-moz-document url-prefix() { input { width:65px; } }/*單獨對火狐進行設定*/


